* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0px;
}

p {
  font-size: 18px;
  color: #e5e7eb;
  margin: 8px 0px;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
  margin: 8px 0px;
}

ul {
  display: flex;
  list-style-type: none;
  gap: 16px;
  margin: 0px;
  padding: 0px;
}

button {
  font-size: 18px;
  color: #f9faf8;
  background-color: #3882f6;
  padding: 8px 32px;
  border-radius: 8px;
  border-style: none;
}

.header,
.footer {
  display: flex;
  align-items: center;
  background-color: #1f2937;
}

.header {
  justify-content: space-between;
  padding: 0px 15vw;
}

.footer {
  justify-content: center;
  padding: 16px 15vw;
}

.content {
  padding: 64px 15vw;
}

#header-logo {
  font-size: 24px;
  color: #f9faf8;
}

#main {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  align-items: top;
  background-color: #1f2937;
}

#main img {
  height: 300px;
  width: auto;
}